:root,
:host {
  --v-overlay-z-index: 1;
  --v-overlay-background: rgba(0, 0, 0, 0.7);
}

@keyframes v-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes v-fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.v-fade {
  &-enter-active {
    animation: 0.3s v-fade-in both ease-out;
  }

  &-leave-active {
    animation: 0.3s v-fade-out both ease-in;
  }
}

.v-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--v-overlay-z-index);
  width: 100%;
  height: 100%;
  background: var(--v-overlay-background);
  pointer-events: none;

  &--forbid {
    pointer-events: auto;
  }
}
