:root,
:host {
  --v-toast-max-width: 70%;
  --v-toast-font-size: 14px;
  --v-toast-text-color: #fff;
  --v-toast-loading-icon-color: #fff;
  --v-toast-line-height: 20px;
  --v-toast-radius: 8px;
  --v-toast-background: rgba(0, 0, 0, 0.7);
  --v-toast-icon-size: 36px;
  --v-toast-text-min-width: 96px;
  --v-toast-text-padding: 8px 12px;
  --v-toast-default-padding: 16px;
  --v-toast-default-width: 88px;
  --v-toast-default-min-height: 88px;
  --v-toast-position-top-distance: 20%;
  --v-toast-position-bottom-distance: 20%;
  --v-padding-xs: 8px;
  --v-padding-base: 4px;
}

@keyframes v-rotate {
  0% {
    transform: rotate(0);
  }

  100% {
      transform: rotate(360deg);
  }
}

@keyframes v-circular {
  0% {
      stroke-dasharray: 1 200;
      stroke-dashoffset: 0;
  }
  50% {
      stroke-dasharray: 90 150;
      stroke-dashoffset: -40px;
  }
  100% {
      stroke-dasharray: 90 150;
      stroke-dashoffset: -120px;
  }
}

.v-toast {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  transition: all var(--v-duration-fast);

  // hack for avoid max-width when use left & fixed
  width: var(--v-toast-default-width);
  max-width: var(--v-toast-max-width);
  min-height: var(--v-toast-default-min-height);
  padding: var(--v-toast-default-padding);
  color: var(--v-toast-text-color);
  font-size: var(--v-toast-font-size);
  line-height: var(--v-toast-line-height);

  // allow newline character
  white-space: pre-wrap;
  text-align: center;
  background: var(--v-toast-background);
  border-radius: var(--v-toast-radius);

  &--top {
    top: var(--v-toast-position-top-distance);
  }

  &--middle {
    top: 50%;
    transform: translateY(-50%);
  }

  &--bottom {
    bottom: var(--v-toast-position-bottom-distance);
  }

  &--transparent {
    opacity: 0;
  }

  &--text {
    width: fit-content;
    min-width: var(--v-toast-text-min-width);
    min-height: 0;
    padding: var(--v-toast-text-padding);

    .v-toast__text {
      margin-top: 0;
    }
  }

  &__loading {
    width: 38px;
    height: 38px;
    color: var(--v-toast-text-color);
    padding: var(--v-padding-base);
    animation: v-rotate 2s linear infinite;

    circle {
      stroke: currentColor;
      stroke-width: 3px;
      stroke-linecap: round;
      animation: v-circular 1.5s ease-in-out infinite;
    }
  }

  &__text {
    margin-top: var(--v-padding-xs);
    user-select: none;
  }
}
