:root,
:host {
  --x-toast-max-width: 70%;
  --x-toast-font-size: 14px;
  --x-toast-text-color: #fff;
  --x-toast-loading-icon-color: #fff;
  --x-toast-line-height: 20px;
  --x-toast-radius: 8px;
  --x-toast-background: rgba(0, 0, 0, 0.7);
  --x-toast-icon-size: 36px;
  --x-toast-text-min-width: 96px;
  --x-toast-text-padding: 8px 12px;
  --x-toast-default-padding: 16px;
  --x-toast-default-width: 88px;
  --x-toast-default-min-height: 88px;
  --x-toast-position-top-distance: 20%;
  --x-toast-position-bottom-distance: 20%;
  --x-padding-xs: 8px;
  --x-padding-base: 4px;
}

@keyframes x-rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes x-circular {
  0% {
    stroke-dasharray: 1 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90 150;
    stroke-dashoffset: -40px;
  }
  100% {
    stroke-dasharray: 90 150;
    stroke-dashoffset: -120px;
  }
}

.x-toast {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  transition: all var(--x-duration-fast);

  // hack for avoid max-width when use left & fixed
  width: var(--x-toast-default-width);
  max-width: var(--x-toast-max-width);
  min-height: var(--x-toast-default-min-height);
  padding: var(--x-toast-default-padding);
  color: var(--x-toast-text-color);
  font-size: var(--x-toast-font-size);
  line-height: var(--x-toast-line-height);

  // allow newline character
  white-space: pre-wrap;
  text-align: center;
  background: var(--x-toast-background);
  border-radius: var(--x-toast-radius);

  &--top {
    top: var(--x-toast-position-top-distance);
  }

  &--middle {
    top: 50%;
    transform: translateY(-50%);
  }

  &--bottom {
    bottom: var(--x-toast-position-bottom-distance);
  }

  &--transparent {
    opacity: 0;
  }

  &--text {
    width: fit-content;
    min-width: var(--x-toast-text-min-width);
    min-height: 0;
    padding: var(--x-toast-text-padding);

    .x-toast__text {
      margin-top: 0;
    }
  }

  &__loading {
    width: 38px;
    height: 38px;
    color: var(--x-toast-text-color);
    padding: var(--x-padding-base);
    animation: x-rotate 2s linear infinite;

    circle {
      stroke: currentColor;
      stroke-width: 3px;
      stroke-linecap: round;
      animation: x-circular 1.5s ease-in-out infinite;
    }
  }

  &__text {
    margin-top: var(--x-padding-xs);
    user-select: none;
  }
}
